:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;
}

#homeButton {
  background-color: var(--orange);
}

.homeLink {
  text-decoration: none;
  color: #fff;
}

.travel-nav {
  min-height: 10vh !important;
  background-color: var(--prussian-blue) !important;
  border: 0px !important;
}

.travel-title {
  color: var(--light-cornflower-blue);
}

.travel-logo {
  min-width: 40% !important;
}

.favourite-card {
  margin-top: 10% !important;
}

.empty-favourites {
  margin-top: 6% !important;
  width: 50%;
  line-height: 70px;
}

main {
  height: 87vh;
  margin: 1%;
}

@media screen and (max-width: 480px) {
  .empty-favourites {
    width: 80%;
    margin-top: 20% !important;
  }
}
