:root {
  --light-cornflower-blue: #8ecae6ff;
  --blue-green: #219ebcff;
  --prussian-blue: #023047ff;
  --honey-yellow: #ffb703ff;
  --orange: #fb8500ff;
}

#favouriteButton {
  background-color: var(--orange);
}

.favouritesLink {
  text-decoration: none;
  color: #fff;
}

.travel-nav {
  min-height: 10vh !important;
  background-color: var(--prussian-blue) !important;
  border: 0px !important;
}

.travel-title {
  color: var(--light-cornflower-blue);
}

.search-container {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  line-height: 70px;
}

main {
  height: 87vh;
  margin: 1%;
}

.card-header {
  background-color: var(--prussian-blue) !important;
}
.card-title {
  color: var(--light-cornflower-blue) !important;
}

#places-image-container {
  height: 60% !important;
  width: 60% !important;
}

.place-image {
  height: 100% !important;
}

. @media screen and (max-width: 480px) {
  .search-container {
    width: 80%;
  }
}
